{% load static %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand mx-3" href="{% url "index" %}"><img style="height:60px;width:90px;" class="rounded" src="{% static 'img/logo.png' %}"/></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">{{request.user.username}}</span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if request.user.is_authenticated %}
    <h1 class="text-info fs-4 makemevisible">Welcome Dear: <span class="text-white text-uppercase">{{request.user.username}}</span></h1>
    {% else %}
    <h1></h1>
    {% endif %}
  </div>
  <div>
    <i class="bi-emoji-sunglasses fs-3 text-white me-3" id="toggleDark"></i>
  </div>
</nav>