{% extends "base.html" %}
{% load static %}
{% block main-content %}
{% for news in readnews %}
<div id="leadcontainer" class="text-center mt-5">
    <div class="mt-5" id="lead">
      <ul>
        <div id="leadheader">
          <span class="leadmeta text-success fs-1">{{news.creation_time}} 
            <a class="text-uppercase fs-1 text-danger mt-5" href="#">{{news.user}}</a>
        </span>
          <p href="#" class="title mt-5 fs-1">{{news.name}}</p>
        </div>
        <img class="border-none" src={{news.image.url}} width="350" height="250" id="leadpic">
        <p class="fs-1 mb-5">{{news.text}}</p>
      </ul>
    </div>
  </div>
{% endfor %}
{% endblock main-content %}